.app-footer {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  font-size: 18px;
  background: #F5F5DC;
  text-align: center;
  width: 100%;
}
.app-footer h3 {
  font-size: 1.2rem;
  color: grey;
}
