.app-header {
  position: relative;
  height: 100%;
  padding: 20px;
  font-size: 18px;
  background: #F5F5DC;
  text-align: center;
  width: 100%;
}
.app-header h3 {
  flex-grow: 1;
}
.app-header h3 {
  font-size: 1.2rem;
  color: grey;
}
