#wrapper {
	max-width: 960px;
  margin: auto;
  padding: 10px;
}
header {
	padding: 20px 0;
}

input {
  margin: 5px;
  padding: 3px;
  border-radius: 6px;
}
select {
  margin: 5px;
  padding: 3px;
}
button {
  margin: 10px;
  float: right;
}
output{
  float: right;
  padding-right: 10px;
}
section  {
  border: 2px;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  background: #5e6846;
  background: linear-gradient(#a3a871, #e4bf6e);
  border-radius: 6px;
  display: block;
}
fieldset {
  border-radius: 10px;
}
h1 {
  margin: 5px;
}
.action {
  margin: 5px;
  padding: 3px;
}
.selector-for-some-widget {
  box-sizing: content-box;
}