.form{
    border-top: 4px;
    padding-top: 5px;
}
.div{
    height: 80px;
    width: 300px;
    border-radius: 40px;
    background-color: red;
}

.size{
	height: 80px;
    width: 300px;
	border-radius: 40px;
    color: red;
}
input
{
    background: red;
    color: #FFFFFF;
}

/*@media screen and (min-width: 400px) and (max-width: 1200px) {*/
    /*.size {*/
        /*height: 30px;*/
        /*width: 150px;*/
        /*border-radius: 5px;*/
    /*}*/
/*}*/