.value_inp {
  margin:5;
  font-size:24px;
  width:200px;
}

.operationType {
  font-size:24px;
  background:transparent;
  border:none;
  outline:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;  
}

.operationType:hover {
  border: solid;
}

.result {
  font-size:24px;
}
