.container {
max-height: 100%;
}
header {
    background-color: #d8d2d2;
    text-align: center;
}
footer {
    background-color: #d8d2d2;
  }

.reg_fields{
    border-radius: 5px;
}
button {
    display: block;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    padding: 3px;
    margin-left: auto;
	margin-right: auto
  }
input {
    display: block;
    width: 250px;
    margin: 20px;
    padding: 3px;
    border-radius: 6px;
    margin-left: auto;
	margin-right: auto
}
