.container {
    height: 100%;
}
.navbar {
    background-color: #d8d2d2;
    text-align: center;
}
footer {
    background-color: #d8d2d2;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.reg_fields{
    border-radius: 5px;
    width: 250px;
}
.register_button {
    display: block;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    padding: 3px;
    margin-left: auto;
	margin-right: auto
  }
input {
    display: block;
    margin: 20px;
    padding: 3px;
    border-radius: 6px;
    margin-left: auto;
	margin-right: auto
}
