html, body, .container {
    height: 100%;
}
#app {
    position: relative;
    top: 50px;
    min-height: 600px;
    padding-left: 0px;
    padding-right: 0px;
}
    .workarea {
        min-height: 600px;
    }
        .search_input, .note_name_input {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .note_list {
            overflow: auto;
            height: 500px;
        }
            .note_item:nth-child(odd) {
                background: #dee2e6; 
            }
            .note_row_icon {
                width: 25px;
            }
            .table td {
                border-top: none;
            }
        .add_note_button {
            border-radius: 10px;  
        }
        .save_note_button {
            margin: 20px;
            border-radius: 10px;
            width: 250px;
        }

.navbar {
    height: 50px;
    background-color: #d8d2d2;
    text-align: center;
    }
    .head_block{
        position: relative;
    }
    .welcome_block{
        position: absolute;
        right: 0px;
    }

footer {
    background-color: #d8d2d2;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.reg_fields{
    border-radius: 5px;
    width: 250px;
}
.register_button {
    display: block;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    padding: 3px;
    margin-left: auto;
	margin-right: auto
  }
input {
    display: block;
    margin: 20px;
    padding: 3px;
    border-radius: 6px;
    margin-left: auto;
	margin-right: auto
}