	#h1 {
	text-align: center;
	}
	small {
	text-align: center;
	}
	#navbar {
	background-color: CCCCCC;
	text-align: center;
	}
	#footer {
	background-color: CCCCCC;
	position: fixed;
	left: 0;
	bottom:0;
	right:0
	}
	input {
	display: block;
	margin: 20;
	width: 200px;
	padding: 1px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	}
	button {
	display: block;
	magrin: 20px;
	border-radius: 5px;
	width: 200px;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	}