.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    /* background-color: lightgray; */
    text-align: center;
    padding: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom:0;
    right:0;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
.form {
    position: relative;
    margin-top: 200px;
    margin-bottom: 10px;
}
.input {
    margin-bottom: 8px;
    padding: 8px;
    width: 20%;
    border-radius: 5px;
}
.button {
    width: 20%;
    color: white;
    padding: 8px;
    background-color: #0075ff;
    border-radius: 8px;
    margin-top: 10px;
}
.button_reg {
    width: 20%;
    color: white;
    padding: 8px;
    background-color: #0075ff;
    border-radius: 8px;
}
